:root {
    --bg: #111;
    --fg: #fef;
}
* {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--fg)
}
body {
    margin: 0px;
    background-color: var(--bg);
}
.game-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    background-color: #0000;
    border-radius: 0px;
}
.title-bar {
    display: flex;
    justify-content: center;
}
.sliders-holder {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 50%;
}
.description {
    margin-left: 10.2%;
    margin-right: 10.2%;
    font-size: 1.2em;
    margin-top: 0%;
}